<div class="card bg-dark text-white">
    
    <div class="card-header"> {{titulo}} </div>
    <div class="card-body"></div>
    <form [formGroup]="autorForm">
        <!-- Nombre -->
        <div class="form-group row mb-1">
            <label for="nombre" class="col-form-label col-sm-2">
                Nombre
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Jhon Doe"/>
                 <!-- mensajes de error -->
                  <div *ngIf="autorForm.get('nombre')?.invalid &&
                            (autorForm.get('nombre')?.dirty ||
                            autorForm.get('nombre')?.touched)"
                            class="text-danger mt-1">
                            <small *ngIf="autorForm.get('nombre')?.errors?.['required']">
                                El nombre es obligatorio
                            </small>
                            <small *ngIf="autorForm.get('nombre')?.errors?.['minlength']">
                                El nombre debe tener al menos 3 caracteres
                            </small>
                        
                    </div>
            </div>
        </div>
        <!-- Apellido -->
        <div class="form-group row mb-1">
            <label for="apellido" class="col-form-label col-sm-2">
                Apellido
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  id="apellido" formControlName="apellido" placeholder="example: Jimenez"/>
                <!-- mensajes de error -->
                  <div *ngIf="autorForm.get('apellido')?.invalid &&
                            (autorForm.get('apellido')?.dirty ||
                            autorForm.get('apellido')?.touched)"
                            class="text-danger mt-1">
                            <small *ngIf="autorForm.get('apellido')?.errors?.['required']">
                                El apellido es obligatorio
                            </small>
                            <small *ngIf="autorForm.get('apellido')?.errors?.['minlength']">
                                El apellido debe tener al menos 3 caracteres
                            </small>
                        
                    </div>
            </div>
        </div>
        <!-- Nacionalidad -->
        <div class="form-group row mb-1">
            <label for="nacionalidad" class="col-form-label col-sm-2">
                Nacionalidad
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="nacionalidad" formControlName="nacionalidad" placeholder="example: Argentina">
                <!-- mensajes de error -->
                  <div *ngIf="autorForm.get('nacionalidad')?.invalid &&
                            (autorForm.get('nacionalidad')?.dirty ||
                            autorForm.get('nacionalidad')?.touched)"
                            class="text-danger mt-1">
                            <small *ngIf="autorForm.get('nacionalidad')?.errors?.['required']">
                                La nacionalidad es obligatoria
                            </small>
                            <small *ngIf="autorForm.get('nacionalidad')?.errors?.['minlength']">
                                La nacionalidad debe tener al menos 3 caracteres
                            </small>
                    </div>
            </div>
        </div>

        <!-- Fecha Nacimiento -->
        <div class="form-group row mb-1">
            <label for="fechaNacimiento" class="col-form-label col-sm-2">
                Fecha Nacimiento
            </label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento" placeholder="YYYY-MM-DD">
            </div>
        </div>

        <!-- Botones -->

        <div class="form-group row mt-3">
            <div class="col-sm-6">
                <button class="btn btn-primary" role= "button" (click)= 'create()' *ngIf="autorId === 0; else elseBlock" [disabled] = "autorForm.invalid">
                     Crear
                    </button>

                <ng-template #elseBlock>
                    <button class="btn btn-warning" role="button" (click)= 'update()' [disabled]="autorForm.invalid">
                        Editar
                    </button>
                </ng-template>
            </div>
        </div>
    </form>
</div>