<div class="card border-primary mb-3">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/categorias']">Categoria</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/autores']">Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/usuarios']">Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/libros']">Libros</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <div class="card-body text-primary">
        
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary type-button" 
            [routerLink]="['/categorias/form']">Crear Categoria</button>
        </div>

        <div *ngIf="categorias.length == 0" class="alert alert-info">
            No hay registros en base de datos
        </div>

        <table class="table table-bordered table-striped" *ngIf="categorias.length > 0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Descripcion</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias">
                    <td> {{categoria.categoriaId}} </td>
                    <td> {{categoria.descripcion}} </td>

                    <td>
                        <button type="button" name="editar" class="btn btn-primary"
                        [routerLink]="['/categorias/form', categoria.categoriaId]">Editar</button>
                    </td>

                    <td>
                        <button type="button" name="eliminar" class="btn btn-danger" (click)="delete(categoria)"> Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
