<div class="card border-primary mb-3">
    <div class="card-header">Libros </div>
    <div class="card-body text-primary">
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary type-button" 
            [routerLink]="['/libros/form']">Crear Libro</button>
        </div>
        <div *ngIf="libros.length == 0" class="alert alert-info">
            No hay registros en Base de datos
        </div>
        <table class="table table-bordered table-striped" *ngIf="libros.length > 0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Titulo</th>
                    <th>isbn</th>
                    <th>fechaPublicacion</th>
                    <th>autorId</th>
                    <th>CategoriaId</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros">
                    <td> {{libro.libroId}} </td>
                    <td> {{libro.titulo}} </td>
                    <td> {{libro.isbn}} </td>
                    <td> {{libro.fechaPublicacion}} </td>
                    <td> {{libro.autor.autorId}} </td>
                    <td> {{libro.categoria.categoriaId}} </td>

                                        <td>
                        <button type="button" name="editar" class="btn btn-primary" 
                        [routerLink]="['/libros/form', libro.libroId]" >Editar</button>
                    </td>

                    <td>
                        <button type="button" name="eliminar" class="btn btn-danger"  (click)="delete(libro)" >Eliminar</button>

                    </td>
                </tr>
            </tbody>